<section class="apresentacao">
  <div>
    <img src="assets/eu.jpeg" alt="fotoPerfil" class="imagem">
  </div>
  <div>
    <p class="name">Olá, sou a </p>
    <h3 class="name">Bárbara Oliveira!</h3>
    <p class="perfil">Sou apaixonada por tecnologia, focada e <br> determinada em meus objetivos. <br>
      Sou Desenvolvedora Web Front-End e <br> estou sempre buscando melhorar meus <br> conhecimentos.</p>
  </div>
</section>

<section>
  <h2 class="title">Meus Projetos</h2>

  <a href="https://github.com/OliveiraBarbara/Sistema_de_Despesa">
    <img src="" alt="">
  </a>

  <a href="">
    <img src="" alt="">
  </a>
</section>

<section>
  <h2 class="title">Sobre</h2>

  <p class="sobre">Sou formada em Sistemas de Informação pela Universidade Federeal de Mato Grosso do Sul.
    Durante a faculdade participei de um projeto que ensinava adolescentes em situação de vulnerabilidade da cidade de Três Lagoas a aprender o básico de informática para ingressar no mercado de trabalho,
    fui monitora de uma disciplina e também fui pesquisadora de Iniciação Cientifica voltada para a área de Engenharia de Software, além de ter estagiado na Prefeitura Municipal de Três Lagoas.
  </p>
  <p class="sobre">Nos últimos anos utilizei HTML, CSS, JavaScript para o desenvolvimento de páginas. Trabalhei também com os frameworks Angular e VueJS,
    além de também ter usado a linguagem Java para desenvolvimento de aplicações.
  </p>
  <a href="./assets/CV_Bárbara_Oliveira.pdf" dowload  type="application/pdf" class="dowload-cv-button">
    <p>Carregar CV</p>
    <img src="./assets/icons8-descarregar-da-nuvem.svg" alt="">
  </a>
</section>

<section>
  <h2 class="title">Tecnologias e Ferramentas</h2>

  <div class="tec">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" alt="Angular" width="68" height="68" class="tec-img" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" alt="HTML" width="68" height="68" class="tec-img" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" alt="CSS" width="68" height="68" class="tec-img" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript" width="68" height="68" class="tec-img" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" alt="TypeScript" width="68" height="68" class="tec-img" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-plain.svg" alt="C" width="68" height="68" class="tec-img" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original-wordmark.svg" alt="Java" width="68" height="68" class="tec-img" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original-wordmark.svg" alt=""Visual Studio Code width="68" height="68" class="tec-img" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" alt="Linux" width="68" height="68" class="tec-img" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub" width="68" height="68" class="tec-img" />
    </div>
</section>
