.imagem{
  width: 300px;
  box-shadow: 5px 5px 10px 10px #c9438c;
}

.apresentacao{
  display: flex;
  justify-content: space-evenly;
  padding-top: 35px;
  padding-bottom: 20px;
}

.name{
  width: 35vw;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 2.5rem;
  text-decoration: underline wavy #c9438c;
}

.perfil{
  position: relative;
  display: inline-block;
  top: 40%;
  font-size: 1.5rem;
}

p, h3{
  margin-top: 3px;
  margin-bottom: 3px;
}

.title{
  text-align: center;
  padding: 10px;
  font-size: 1.8rem;
  text-decoration: underline wavy #c9438c;
}

.dowload-cv-button{
  border-radius: 40px;
  width: 18%;
  height: 5vh;
  background-color: #bb2649;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size:max(50%, 15px);
  font-weight:500;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sobre{
  padding-left: 160px;
  padding-right: 160px;
  text-align: center;
}

.tec{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.tec-img{
  padding: 5px;
}

.tec-img:hover{
  box-shadow: 0px 0px 10px gray;
  transform:translateY(10px);
  background-size: 120%;
  filter: opacity(100%);
}
